<div class="container col-md-9">
    <h1>Liste des cocktails</h1>
    <div class="d-flex flex-wrap justify-content-around">
        <div *ngFor="let cocktail of cocktails">
            <div class="card mb-5" style="width: 18rem;">
                <img class="card-img-top" src="{{cocktail.img}}" alt="A cocktail">
                <div class="card-body">
                    <h5 class="card-title">{{cocktail.name}}</h5>
                    <p class="card-text">Very good and tasty cocktail, for sure...</p>
                    <a href="#" class="btn btn-outline-dark">Commander : {{cocktail.price}}€</a>
                </div>
            </div>
        </div>
    </div>
</div>